@{
    ViewBag.Title = "BFS Algorithm";
}

<h2>DFS</h2>

<div class="row">

    <div class="col-md-3">
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#pseudo" data-toggle="tab">@ResManager.GetResource("Pseudo")</a></li>
            <li><a data-target="#csharp" data-toggle="tab">@ResManager.GetResource("CSharp")</a></li>
        </ul>

        <div class="tab-content">   
            <div class="tab-pane active" id="pseudo">
                <pre>
<code class="line-numbers language-markup">
Breadth-First-Search(Graph, root):
for each node n in Graph:            
    n.distance = INFINITY        
    n.parent = NIL
 
create empty queue Q      
 
root.distance = 0
Q.enqueue(root)                      
 
while Q is not empty:        
     
    current = Q.dequeue()
     
    for each node n that is adjacent to current:
        if n.distance == INFINITY:
            n.distance = current.distance + 1
            n.parent = current
            Q.enqueue(n)
</code>
                </pre>
            </div>
            <div class="tab-pane" id="csharp">
                <pre>
<code class="line-numbers language-markup">
Breadth-First-Search(Graph, root):
for each node n in Graph:            
    n.distance = INFINITY        
    n.parent = NIL
 
create empty queue Q      
 
root.distance = 0
Q.enqueue(root)                      
 
while Q is not empty:        
     
    current = Q.dequeue()
     
    for each node n that is adjacent to current:
        if n.distance == INFINITY:
            n.distance = current.distance + 1
            n.parent = current
            Q.enqueue(n)
</code>
                </pre>
            </div>
        </div>
    </div>
        <div class="col-md-9 cyContainer">
            <div class="row">
                <div id="cy" class="cyGraph">

                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <h1>@ResManager.GetResource("Head")</h1>
                </div>
                <div class="col-md-10">
                    <div id="cy" class="cyQueue" style="height: 100px;">
                    </div>
                </div>
                <div class="col-md-1">
                    <h1>@ResManager.GetResource("Tail")</h1>
                </div>
            </div>
        </div>

</div>
<br />
<div class="row">
    <div class="col-md-offset-3 col-md-9">       
        @Html.Partial("_Player")
    </div>
    
</div>


@section scripts{
    <script src="~/Scripts/PageScripts/BFS.js"></script>
}