@{
    ViewBag.Title = "Prim's MST";
}

<h2>@ResManager.GetResource("PrimsMST")</h2>

<div class="row">

    <div class="col-md-3">
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#pseudo" data-toggle="tab">@ResManager.GetResource("Pseudo")</a></li>
            <li><a data-target="#csharp" data-toggle="tab">@ResManager.GetResource("CSharp")</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="pseudo">
                <pre style="overflow: auto; max-height:44em; min-height:44em;">
<code class="line-numbers language-markup">
Q -> Priority Queue

MST-PRIM(G, w, r)
    for each u ∈ G.V
        u.key = &#8734;
        u.&#960; = NIL
    r.key = 0
    while Q &#8800; 0
        u = EXTRACT-MIN(Q)
        for each v ∈ G.Adj[u]
            if v ∈ Q and w(u, v) < v.key
                v.&#960; = u
                v.key = w(u, v)
</code>
                </pre>
            </div>
            <div class="tab-pane" id="csharp">
                <pre style="overflow: auto; max-height:44em; min-height:44em;">
<code class="line-numbers language-csharp">
public class PrimsMST
{
    private Graph&lt;string&gt; graph { get; set; }
    private bool[] visited;
    public PrimsMST(Graph&lt;string&gt; graph)
    {
        this.graph = graph;
        visited = new bool[graph.CountNodes()];
    }
    public void doMST(int start)
    {
        List&lt;Edge&gt;resultSet = new List&lt;Edge&gt;();
        IPriorityQueue&lt;Edge&gt; queue = new SimplePriorityQueue&lt;Edge&gt;();
        
        var startNode = graph.GetNode(start);
        foreach (var edge in startNode.EdgeList)
        {
            queue.Enqueue(edge, edge.Weight);
        }
        while (resultSet.Count != graph.CountNodes())
        {
            var minEdge = queue.Dequeue();
            resultSet.Add(minEdge);
            var neigbour = graph.GetNode(minEdge.DestinationId);
            foreach (var edge in neigbour.EdgeList)
            {
                queue.Enqueue(edge, edge.Weight);
            }
        }
    }
}
</code>
                </pre>
            </div>
        </div>
    </div>
    <div class="col-md-9 cyContainer">
        <div class="row">
            <div id="cy" class="cyGraph">

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <h1>@ResManager.GetResource("Head")</h1>
            </div>
            <div class="col-md-10">
                <h2 style="text-align: center; display: block; opacity: 0.3;">@ResManager.GetResource("PriorityQueue")</h2>
                <div id="cy" class="cyQueue" style="height: 100px;">
                </div>
            </div>
            <div class="col-md-1">
                <h1>@ResManager.GetResource("Tail")</h1>
            </div>
        </div>
    </div>

</div>
<br />
<div class="row">
    <div class="col-md-offset-3 col-md-9">
        @Html.Partial("_Player")
    </div>

</div>


@section scripts{
    <script src="~/Scripts/PageScripts/PrimsMST.js"></script>
}